@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Ubuntu', sans-serif;
}

body {
    background-color: white;
}

#install {
    background-color: rgb(41, 21, 255);
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    margin: 20px 0px 0px 50px;
}

#tg {
    background-color: rgb(222, 221, 226);
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
    margin: 20px 0px 0px 10px;
}

#tg:hover {
    background-color: rgb(188, 195, 195);
}

#install:hover {
    background-color: rgb(40, 26, 230);
}

.iphone-img {
    width: 350px;
    height: auto;
}

header {
    display: flex;
    align-items: normal;
    justify-content: space-between;
    padding: 50px;
    gap: 40px
}

h1 p {
    overflow-wrap: break-word;
    word-break: normal;
    white-space: normal;
}

h1 {
    text-align: left;
    font-size: 80px;
    width: 850px;
    margin: 70px 50px 0px 50px;
    line-height: 0.9;
}

p {
    text-align: left;
    font-size: 20px;
    width: 800px;
    margin: 20px 50px 0px 50px;
    line-height: 0.9;

}

nav {
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    border-bottom: 1px solid rgb(220, 220, 220);
}

nav a.logo {

    font-size: 40px;
    font-weight: 700;
    color: black;
    text-decoration: none;
    
}

nav .links {
    display: flex;
    gap: 20px;
}

nav .links a{
    padding: 5px 14px;
    text-decoration: none;
    color: black;
    font-size: 17px;
    font-weight: 400;
    border-radius: 6px;
    transition: 0.2s;
}

nav .links a:nth-child(2) {
    color: rgb(230, 16, 180);
}

nav .links a:nth-child(1):hover {
    background-color: rgb(207, 203, 203);
}

nav .links a:nth-child(2):hover {
    background-color: rgb(254, 171, 235);
}

nav .links a:nth-child(3):hover {
    background-color: rgb(207, 203, 203);
}